// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2020 TQ Systems GmbH
 */

/dts-v1/;

#include "imx8mn.dtsi"

/ {
	model = "TQ Systems GmbH i.MX8MN on EM4XX-CB";
	compatible = "tq,em4xx", "fsl,imx8mn";

	aliases {
		mmc0 = &usdhc3;
		/delete-property/ mmc1;
		/delete-property/ mmc2;

		serial1 = &uart3;
		serial2 = &uart2;
	};

	chosen {
		bootargs = "console=ttymxc0,115200 earlycon=ec_imx6q,0x30860000,115200";
		stdout-path = &uart1;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		status_green {
			label = "energymanager:green:status";
			gpios = <&gpio5 2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "timer";
		};

		status_red {
			label = "energymanager:red:status";
			gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
		};

		network_green {
			label = "energymanager:green:network";
			gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
		};

		network_red {
			label = "energymanager:red:network";
			gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
		};

		sensor_green {
			label = "energymanager:green:sensor";
			gpios = <&gpio5 28 GPIO_ACTIVE_HIGH>;
		};

		sensor_red {
			label = "energymanager:red:sensor";
			gpios = <&gpio5 29 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_buttons>;

		reset {
			label = "Reset";
			gpios = <&gpio4 31 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	reg_usdhc3_vmmc: regulator-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	busfreq {
		status = "disabled";
	};
};

&a53_opp_table {
	opp-1400000000 {
		status = "disabled";
	};

	opp-1500000000 {
		status = "disabled";
	};
};

&cpu_crit0 {
	temperature = <105000>;
};

&gpio1 {
	gpio-line-names =
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"energymanager:vbus:enable", "energymanager:vbus:fault#", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "",
		"", "", "", "";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbrs485>;
	/*
	Pad Control Register

	| 0  | 0    | 0   | 0   | 0x   | 00x |
	| PE | HYS  | PUE | ODE | FSEL | DSE |

	PE: Pull Resistors Enable
	HYS: Hysteresis Enable

	PUE:
	0 — Select pull-down resistors
	1 — Select pull-up resistors

	ODE: Open Drain Enable

	FSEL:
	0x - Select slow slew rate (SR=1)
	1x — Select fast slew rate (SR=0)

	DSE:
	00x — Drive strength X1
	10x — Drive strength X2
	01x — Drive strength X4
	11x — Drive strength X6

	GPIO: 0x80 [HYS|slow|X1] (no pull up)
	I2C: 0x400001C0 [SION|PE|HYS|PUE|slow|X1]
	UART: 0x0 [slow|X1] (no pull up)
	UDHC: 0x1D0 [PE|HYS|PUE|fast|X1]
	UDHC100: 0x1D4 [PE|HYS|PUE|fast|x2]
	UDHC200: 0x1D2 [PE|HYS|PUE|fast|x4]
	ENET_MDIO: 0x0 [slow|x1] (no pull up)
	ENET_TX: 0x0 [slow|x1] (no pull up)
	ENET_RX: 0x90 [HYS|fast|x1] (no pull up)
	ENET_GPIO: 0x10 [fast|x1] (no pull up)
	*/

	pinctrl_buttons: buttongrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI3_TXFS_GPIO4_IO31		0x80
		>;
	};

	pinctrl_leds: ledgrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI3_MCLK_GPIO5_IO2		0x80
			MX8MN_IOMUXC_SPDIF_TX_GPIO5_IO3			0x80
			MX8MN_IOMUXC_SPDIF_RX_GPIO5_IO4			0x80
			MX8MN_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5		0x80
			MX8MN_IOMUXC_UART4_RXD_GPIO5_IO28		0x80
			MX8MN_IOMUXC_UART4_TXD_GPIO5_IO29		0x80
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MN_IOMUXC_ENET_TD2_CCMSRCGPCMIX_ENET_REF_CLK_ROOT		0x10
			MX8MN_IOMUXC_ENET_TD1_ENET1_RGMII_TD1		0x0
			MX8MN_IOMUXC_ENET_TD0_ENET1_RGMII_TD0		0x0
			MX8MN_IOMUXC_ENET_RD1_ENET1_RGMII_RD1		0x90
			MX8MN_IOMUXC_ENET_RD0_ENET1_RGMII_RD0		0x90
			MX8MN_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x90
			MX8MN_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x0

			MX8MN_IOMUXC_ENET_RD2_GPIO1_IO28		0x10
		>;
	};

	pinctrl_usbrs485: usbrs485grp {
		fsl,pins = <
			/* PWR */
			MX8MN_IOMUXC_GPIO1_IO12_GPIO1_IO12	0x80
			/* FAULT */
			MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13	0x1C0
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MN_IOMUXC_I2C1_SCL_I2C1_SCL		0x400001C0
			MX8MN_IOMUXC_I2C1_SDA_I2C1_SDA		0x400001C0
		>;
	};

	pinctrl_ecspi1: ecspi1grp {
		fsl,pins = <
			MX8MN_IOMUXC_ECSPI1_MOSI_ECSPI1_MOSI	0x0
			MX8MN_IOMUXC_ECSPI1_MISO_ECSPI1_MISO	0x0
			MX8MN_IOMUXC_ECSPI1_SCLK_ECSPI1_SCLK	0x0
			MX8MN_IOMUXC_I2C2_SDA_GPIO5_IO17	0x0
		>;
	};

	pinctrl_ecspi2: ecspi2grp {
		fsl,pins = <
			MX8MN_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI	0x0
			MX8MN_IOMUXC_ECSPI2_MISO_ECSPI2_MISO	0x0
			MX8MN_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK	0x0
			MX8MN_IOMUXC_ECSPI2_SS0_ECSPI2_SS0	0x0
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART1_RXD_UART1_DCE_RX	0x0
			MX8MN_IOMUXC_UART1_TXD_UART1_DCE_TX	0x0
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART2_RXD_UART2_DCE_RX	0x0
			MX8MN_IOMUXC_UART2_TXD_UART2_DCE_TX	0x0
			MX8MN_IOMUXC_SAI3_RXC_UART2_DCE_CTS_B	0x0
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART3_RXD_UART3_DCE_RX	0x0
			MX8MN_IOMUXC_UART3_TXD_UART3_DCE_TX	0x0
			MX8MN_IOMUXC_SD1_STROBE_UART3_DCE_CTS_B	0x0
		>;
	};

	pinctrl_usdhc3_gpio: usdhc3grpgpio {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CD_B_GPIO2_IO12	0x80
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x1d0
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d0
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d0
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d0
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d0
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d0
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d0
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d0
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d0
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d0
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE 		0x1d0
			MX8MN_IOMUXC_NAND_READY_B_USDHC3_RESET_B	0x80
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x1d4
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d4
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d4
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d4
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d4
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d4
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d4
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d4
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d4
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d4
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE 		0x1d4
			MX8MN_IOMUXC_NAND_READY_B_USDHC3_RESET_B	0x80
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_NAND_WE_B_USDHC3_CLK		0x1d2
			MX8MN_IOMUXC_NAND_WP_B_USDHC3_CMD		0x1d2
			MX8MN_IOMUXC_NAND_DATA04_USDHC3_DATA0		0x1d2
			MX8MN_IOMUXC_NAND_DATA05_USDHC3_DATA1		0x1d2
			MX8MN_IOMUXC_NAND_DATA06_USDHC3_DATA2		0x1d2
			MX8MN_IOMUXC_NAND_DATA07_USDHC3_DATA3		0x1d2
			MX8MN_IOMUXC_NAND_RE_B_USDHC3_DATA4		0x1d2
			MX8MN_IOMUXC_NAND_CE2_B_USDHC3_DATA5		0x1d2
			MX8MN_IOMUXC_NAND_CE3_B_USDHC3_DATA6		0x1d2
			MX8MN_IOMUXC_NAND_CLE_USDHC3_DATA7		0x1d2
			MX8MN_IOMUXC_NAND_CE1_B_USDHC3_STROBE 		0x1d2
			MX8MN_IOMUXC_NAND_READY_B_USDHC3_RESET_B	0x80
		>;
	};

	pinctrl_wdog: wdoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0x80
		>;
	};
};

&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	cs-gpios = <&gpio5 17 GPIO_ACTIVE_LOW>;
	status = "okay";

	teridian: spidev@0 {
		compatible = "tq,teridian";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&i2c1 {
	/* Keep this at 100kHz - our hardware can't use I2C fast mode
	 * without violating timing constraints */
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	rtc0: rtc@51 {
		compatible = "nxp,pcf85063tp";
		reg = <0x51>;
		quartz-load-femtofarads = <12500>;
	};
};

/* console */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	/* Do not enable DMA mode due to large delay */
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	/* Do not enable DMA mode due to large delay */
	uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	/delete-property/ dmas;
	/delete-property/ dma-names;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>, <&pinctrl_usdhc3_gpio>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>, <&pinctrl_usdhc3_gpio>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>, <&pinctrl_usdhc3_gpio>;
	bus-width = <8>;
	cd-gpios = <&gpio2 12 GPIO_ACTIVE_LOW>;
	disable-wp;
	vmmc-supply = <&reg_usdhc3_vmmc>;
	status = "okay";
};


&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	status = "okay";
};
